[submodule "configs/nvim"]
	path = configs/nvim
	url = https://github.com/Grady-Saccullo/nvim
[submodule "voze"]
	path = voze
	url = https://github.com/Grady-Saccullo/.dotfiles-voze
[submodule "brewup"]
	path = brewup
	url = https://github.com/Grady-Saccullo/.dotfiles-brewup
